################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/net7.0
/obj
/.vs/FalconsRoost
/bin/Release/net7.0
/fr.tar
/bin/ARM64/Release/net7.0
/Dockerfile
/docker-compose.yml
